@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/IRANSans.woff?-wwn5ej') format('woff'),
    url('/fonts/IRANSans.ttf?-wwn5ej') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*font-family: 'IRANSans';*/
/*src: url('/fonts/Yaregan.woff?-wwn5ej') format('woff'),*/
/*url('/fonts/Yaregan.ttf?-wwn5ej') format('truetype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none;
}

html,
body {
    font-family: 'IRANSans', serif !important;
    font-size: 14px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
}


.font-weight-bold {
    font-weight: 600 !important;
}


a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

.bg_yarpay {
    /*background-color: #a80ef7 !important;*/
    background-color: #1d4171 !important;
}

.navbar-brand {
    width: 6rem;
}

.navbar_yarpay {
    /* background-color: #a80ef7 !important; */
    background-color: #ffffff !important;
    box-shadow: 0px 0px 4px #333;

}

.navbar_yarpay .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
    color: #020202;
    font-weight: bold;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.parent_profile_panel h3 {
    color: #292828;
}

.parent_profile_panel h6 {
    color: #333;
}

.header {
    background-color: #006791;
}

.logo-text {
    font-family: cursive;
    letter-spacing: .1rem;
    font-weight: bold;
    color: #ffca05 !important;
    font-size: 2rem;
}

.navbar-top .navbar-nav .nav-link {
    color: #fff;
}

.navbar-top .navbar-nav .active > .nav-link,
.navbar-top .navbar-nav .nav-link.active,
.navbar-top .navbar-nav .nav-link.show,
.navbar-top .navbar-nav .show > .nav-link {
    color: rgb(255, 202, 5);
}

@media (min-width: 992px) {
    .navbar-top .navbar-nav {
        margin-right: 3rem;
    }
}

/*.navbar-top .navbar-text span {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*font-weight: 700;*/
/*font-size: .8rem;*/
/*}*/
.navbar-top .navbar-text li a {
    color: #fff;
    padding: 0 .3rem;

}

.navbar-top .navbar-text li:nth-child(1) a {

    border-left: 2px solid #eceaea;
    padding-left: .7rem;
}

.navbar-top .navbar-text li a span:first-child:before {
    content: "";
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    vertical-align: middle
}

.navbar-top .navbar-text li:nth-child(1) a span:first-child:before {
    background: url(/images/style_yarpay.png) -41px -312px;
}

.navbar-top .navbar-text li:nth-child(2) a span:first-child:before {
    background: url(/images/style_yarpay.png) -100px -313px;
}

@media (min-width: 992px) {
    /*.navbar-expand-lg .navbar-nav .dropdown-menu {*/
    /*top: 100%;*/
    /*right: 0;*/
    /*min-width: 14rem;*/
    /*width: auto;*/
    /*}*/
    .dropdown:hover .dropdown-menu {
        visibility: visible;
    }

    .navbar-top {
        border-bottom: 1px solid #fff;
        box-shadow: 0px 0px 9px #c1c1c1;
    }

    .dropdown .dropdown-menu {
        right: 0;
        margin: .05rem 0;
        font-size: 1rem;
        /*background-color: #12e680;*/
        border: 0;
        box-shadow: 0 1px 6px 0 #ccc;
        display: unset;
        visibility: hidden;
        transition: visibility .2s, opacity .2s linear;
        position: absolute;
        min-width: 14rem;
        border-radius: 0;
    }

    .navbar-nav .dropdown-menu {
        /*position: static;*/
        /*float: none;*/
    }

    .dropdown-menu {
        /*width: 5rem;*/
        /*text-align: center;*/
        /*box-shadow: 0 0 4px #12e680;*/
        /*border: 0;*/
        /*min-width: unset;*/
    }

}

.carousel-inner {
    min-height: 30rem;
    background-color: #006791;
}

.carousel-item .caption {
    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 5rem;
    color: #fff;
    margin-top: 4rem;
}

.carousel-control-next, .carousel-control-prev {

    width: 6%;
}

.carousel-item .caption h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;
}

.carousel-item .caption p {
    text-align: justify;
    line-height: 1.9rem;
    font-size: .95rem;
}

.parent-img-carousel {
    align-items: center;
    display: flex;
    justify-content: center;
}

.carousel-item img {
    max-width: 26rem;
}

.benefits-features .content-box .col {
    max-width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #17dbb8;
    border-radius: 50%;
    box-shadow: 0px 0px 28px #92d2ec !important;
    text-align: center;
    margin: 1.15rem;
}

.benefits-features {
    padding: 2rem 0;
}

.benefits-features .title-index h3 {
    width: 100%;
    color: #006791;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.benefits-features .content-box {
    justify-content: center;
    align-items: center;
}

.benefits-features .content-box h4 {
    font-size: .9rem;
    margin: .3rem;
    color: #006791;
    font-weight: bold;
}

.benefits-features .content-box .col span:before {
    content: "";
    width: 4.6rem;
    height: 4.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .25rem;
    /*background-color: red !important;*/

}

.benefits-features .content-box .col:nth-child(1) span:before {
    background: url(/images/style_yarpay.png) -176px -299px;
}

.benefits-features .content-box .col:nth-child(2) span:before {
    background: url(/images/style_yarpay.png) -268px -299px;
}

.benefits-features .content-box .col:nth-child(3) span:before {
    background: url(/images/style_yarpay.png) -355px -299px;
}

.benefits-features .content-box .col:nth-child(4) span:before {
    background: url(/images/style_yarpay.png) -431px -299px;
}

.benefits-features .content-box .col:nth-child(5) span:before {
    background: url(/images/style_yarpay.png) -511px -297px;
}

.benefits-features .content-box .col:nth-child(1):hover {
    background-color: #006791;
    color: #fff;
}

.benefits-features .content-box .col:nth-child(1):hover span:before {
    background: url(/images/style_yarpay.png) -173px -386px;
}

.benefits-features .content-box .col:nth-child(1):hover h4 {
    color: #ffffff;
}

.benefits-features .content-box .col:nth-child(2):hover {
    background-color: #006791;
    color: #fff;
}

.benefits-features .content-box .col:nth-child(2):hover span:before {
    background: url(/images/style_yarpay.png) -265px -385px;
}

.benefits-features .content-box .col:nth-child(2):hover h4 {
    color: #ffffff;
}

.benefits-features .content-box .col:nth-child(3):hover {
    background-color: #006791;
    color: #fff;
}

.benefits-features .content-box .col:nth-child(3):hover span:before {
    background: url(/images/style_yarpay.png) -355px -386px;
}

.benefits-features .content-box .col:nth-child(3):hover h4 {
    color: #ffffff;
}

.benefits-features .content-box .col:nth-child(4):hover {
    background-color: #006791;
    color: #fff;
}

.benefits-features .content-box .col:nth-child(4):hover span:before {
    background: url(/images/style_yarpay.png) -431px -385px;
}

.benefits-features .content-box .col:nth-child(4):hover h4 {
    color: #ffffff;
}

.benefits-features .content-box .col:nth-child(5):hover {
    background-color: #006791;
    color: #fff;
}

.benefits-features .content-box .col:nth-child(5):hover span:before {
    background: url(/images/style_yarpay.png) -511px -383px;
}

.benefits-features .content-box .col:nth-child(5):hover h4 {
    color: #ffffff;
}

.dedicated-payment {
    background-color: #8e9696;
    justify-content: center;
    align-items: center;
    /* height: 7.5rem; */
    text-align: center;
    margin: 1rem 0;
    padding: 1.5rem;

}

.dedicated-payment h3 {
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem;
}

.dedicated-payment a {
    background-color: #ffca05;
    border-radius: 0;
    margin: .6rem 0 0 0;
    color: #fff;
    padding: .3rem;
    min-width: 9rem;
}

.dedicated-payment a span:before {
    content: "";
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    background: url(/images/style_yarpay.png) -43px -272px;
}

.build-site-clicks {
    margin-bottom: 10rem;
    padding: 1rem 1rem;
}

.build-site-clicks .title-index h3 {
    width: 100%;
    color: #006791;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.build-site-clicks .content-box:before {
    height: 7px;
    display: block;
    position: absolute;
    content: "";
    top: 23px;
    z-index: 10;
    border-radius: 5px;
    background-color: #006791;
    right: 20px;
    left: 20px;
}

.build-site-clicks .content-box .col {
    justify-content: center;
    align-items: center;
    display: flex;
}

.build-site-clicks .content-box .col .badge {
    position: absolute;
    text-align: center;
    line-height: 28px;
    background-color: #fff;
    z-index: 20;
    font-size: 1.2rem;
    color: #006791;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #17dbb8;
    border-radius: 50%;
    box-shadow: 0px 0px 28px #92d2ec !important;
}

.popover {
    text-align: right;
    font-family: 'IRANSans', serif !important;
    /* font-size: 14px; */
}

.popover-body {
    padding: 1rem;
    color: #212529;
    min-height: 5rem;
    font-size: 1rem;
    /* border: 0; */
    font-weight: bold;
    text-align: center;
}

.popover-a {
    background-color: #ffca05;
    border-radius: 0;
    margin: .6rem 0 0 0;
    color: #fff;
    padding: .1rem;
    min-width: 7rem;
    font-size: .8rem;
}

.build-site-clicks .title-index {
    margin-bottom: 8rem;

}

.popover-a span:before {
    content: "";
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    vertical-align: middle;
    background: url(/images/style_yarpay.png) -43px -273px;
}


.online-payment-standards {
    box-shadow: 0px 1px 12px rgba(165, 163, 163, 0.35);
    min-height: 20rem;
    margin: 1rem 0;
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
}

.online-payment-standards .title-index h3 {
    width: 100%;
    color: #006791;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.online-payment-standards .content-box .item {
    text-align: center;
}

.online-payment-standards .content-box {
    margin: .7rem 0;
}

.online-payment-standards .content-box .item h4 {
    font-size: 1rem;
    margin: .7rem 0;
    color: #000;
    font-weight: bold;
}

.online-payment-standards .content-box .item p {
    font-size: .9rem;
    margin: .3rem;
    text-align: justify;
    color: #696767;
    line-height: 1.6rem;
    font-weight: normal;
}

.online-payment-standards .content-box .item > div {
    text-align: center;
    min-height: 17rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid #17dbb8;
    box-shadow: 0 0 10px #92d2ec !important;
    margin: .75rem;
    padding: 1rem;
}

.online-payment-standards .content-box .item span:before {
    content: "";
    width: 4.6rem;
    height: 4.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: .25rem;
    /*background-color: red !important;*/
}

.online-payment-standards .content-box .item:nth-child(1) span:before {
    background: url(/images/style_yarpay.png) -168px -532px;
}

.online-payment-standards .content-box .item:nth-child(2) span:before {
    background: url(/images/style_yarpay.png) -273px -525px;
}

.online-payment-standards .content-box .item:nth-child(3) span:before {
    background: url(/images/style_yarpay.png) -371px -528px;
}

.online-payment-standards .content-box .item:nth-child(4) span:before {
    background: url(/images/style_yarpay.png) -474px -530px;
}


.online-payment-standards .content-box .item > div:hover {
    background-color: #17dbb8;
}

.online-payment-standards .content-box .item:hover h4 {
    color: #fff;
}

.online-payment-standards .content-box .item:hover p {
    color: #fff;
}

.online-payment-standards .content-box .item:nth-child(1):hover span:before {
    background: url(/images/style_yarpay.png) -166px -631px;
}

.online-payment-standards .content-box .item:nth-child(2):hover span:before {
    background: url(/images/style_yarpay.png) -271px -623px;
}

.online-payment-standards .content-box .item:nth-child(3):hover span:before {
    background: url(/images/style_yarpay.png) -371px -627px;
}

.online-payment-standards .content-box .item:nth-child(4):hover span:before {
    background: url(/images/style_yarpay.png) -474px -629px;
}

.latest-blog {
    margin: 1rem 0;
    padding: 2rem 0;
}

.latest-blog .title-index h3 {
    width: 100%;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.latest-blog .content-box .item h4 {
    font-size: 1rem;
    margin: .7rem 0;
    color: #000;
    font-weight: bold;
}

.latest-blog .content-box .item p {
    font-size: .9rem;
    margin: .3rem;
    text-align: justify;
    color: #696767;
    line-height: 1.6rem;
    font-weight: normal;
}

.latest-blog .content-box .item > div {
    text-align: center;
    min-height: 23.7rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /*border: 1px solid #17dbb8;*/
    box-shadow: 0 0 3px #92d2ec !important;
    margin: .35rem;
    padding: .6rem;
}

.our-customers .title-index h3 {
    width: 100%;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.owl-carousel .owl-stage-outer {
    padding: .6rem 0;
}

.our-customers .content-box .col {
    width: 9.5rem;
    height: 9.5rem;
    /* height: 12rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #17dbb8; */
    border-radius: 50%;
    box-shadow: 0px 5px 13px 2px rgba(0, 103, 145, 0.35) !important;
    text-align: center;
    /* margin: 0.15rem; */
    overflow: hidden;
    padding: 1.3rem;
    background-color: rgb(255, 255, 255);
}


footer {
    background-color: rgb(0, 102, 143);
    min-height: 18rem;
    margin-top: 1.5rem;
}

.footer {
    padding: 2rem 0 0 0;
    text-align: right;
}

.footer .title-footer {
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
}

.footer .list-group {
    padding: 0;
    margin: .6rem 0;
}

.footer .list-group li {
    background-color: transparent;
    border: 0;
    color: #fff;
    padding: .6rem .3rem;
}

.footer .list-group li a {

    color: #fff;
}


.parent-copyright {
    margin: 1rem 0 .5rem 0;
    text-align: center;
    color: #fff;
}

.copyright {
    margin: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    border-top: 1px solid #fff;
    padding: 1rem 0 .6rem 0;
}

@media (max-width: 1200px) {
    .benefits-features .content-box .col {
        flex: 0 0 100%;
        max-width: 12rem;
    }
}

@media (max-width: 991.98px) {
    .parent-img-carousel {
        display: none;
    }

    .navbar-top .navbar-text {
        display: block;
        text-align: right;
        width: 100%;
    }

    .carousel-inner {
        min-height: 20rem;
        padding: 1.5rem 0;
    }

    .navbar-top {
        border-bottom: 1px solid #fff;
        box-shadow: 0px 0px 9px #c1c1c1;
    }

    .carousel-item .caption h2 {
        margin: 1rem 0;
        line-height: 2.3rem;
    }

    .navbar-top .navbar-nav .nav-link {
        text-align: right;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-brand {
        margin: 0 0 0 2rem;
    }

    .carousel-item .caption {
        padding: 1rem 3rem;
        margin-top: 0;
    }

    .benefits-features .content-box .col {
        flex: 0 0 100%;
        max-width: 12rem;
    }

    /*.build-site-clicks .content-box .col {*/
    /*flex: 0 0 100%;*/
    /*max-width: 100%;*/
    /*}*/
    .dedicated-payment h3 {
        margin: 0;
        padding: 1rem;
        line-height: 2rem;
    }

    .our-customers .content-box .col {
        margin: auto;
    }

    /*.build-site-clicks .content-box .col .badge {*/
    /*position: static;*/
    /*}*/
    /*.build-site-clicks .content-box:before {*/
    /*width: 7px;*/
    /*height: 100%;*/
    /*top: 23px;*/
    /*z-index: 1;*/
    /*right: unset;*/
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    /*display: none;*/
    /*}*/
    /*.build-site-clicks .content-box .col {*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*flex: 0 0 100%;*/
    /*max-width: 100%;*/
    /*flex-wrap: wrap;*/
    /*}*/
    /*.build-site-clicks .content-box .col {*/
    /*padding: 3.5rem 0;*/
    /*}*/
    /*.build-site-clicks .title-index {*/
    /*margin-bottom: 5rem;*/
    /*}*/
    /*.build-site-clicks {*/
    /*margin-bottom: 0;*/
    /*}*/
    .navbar-top .navbar-toggler {
        border-color: transparent;
    }

    .navbar-top .navbar-toggler .fa-bars {
        font-size: 2rem;
        color: #fff;
    }
}


@media (max-width: 767.98px) {
    .parent-img-carousel {
        display: none;
    }

    .carousel-inner {
        min-height: auto;
        padding: 1.5rem 0;
    }

    .navbar-top {
        border-bottom: 1px solid #fff;
        box-shadow: 0px 0px 9px #c1c1c1;
    }

    .carousel-item .caption h2 {
        margin: 1rem 0;
        line-height: 2.3rem;
    }

    .navbar-top .navbar-nav .nav-link {
        text-align: right;
    }

    .navbar-nav {
        padding: 0;
    }

    .navbar-brand {
        margin: 0 0 0 2rem;
    }

    .carousel-item .caption {
        padding: 1rem 3rem;
        margin-top: 0;
    }

    .benefits-features .content-box .col {
        flex: 0 0 100%;
        max-width: 12rem;
    }

    .build-site-clicks .content-box .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .dedicated-payment h3 {
        margin: 0;
        padding: 1rem;
        line-height: 2rem;
    }

    .our-customers .content-box .col {
        margin: auto;
    }

    .build-site-clicks .content-box .col .badge {
        position: static;
    }

    .build-site-clicks .content-box:before {
        width: 7px;
        height: 100%;
        top: 23px;
        z-index: 1;
        right: unset;
        left: 50%;
        transform: translate(-50%);
        display: none;
    }

    /*.popover {*/
    /*bottom: auto !important;*/
    /*}*/
    .build-site-clicks .content-box .col {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .build-site-clicks .content-box .col {
        padding: 3.5rem 0;
    }

    .build-site-clicks .title-index {
        margin-bottom: 5rem;
    }

    .build-site-clicks {
        margin-bottom: 0;
    }

    /*.build-site-clicks .content-box .col:nth-child(1) {*/
    /*padding-bottom: 7rem;*/
    /*}*/
    /*.build-site-clicks .content-box .col:nth-child(2) {*/
    /*padding: 7rem 0;*/
    /*}*/
    /*.build-site-clicks .content-box .col:nth-child(3) {*/
    /*padding-top: 7rem;*/
    /*}*/
    .navbar-top .navbar-toggler {
        border-color: transparent;
    }

    .navbar-top .navbar-toggler .fa-bars {
        font-size: 2rem;
        color: #fff;
    }
}

.owl-nav button {
    position: absolute;
    top: 27%;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #383838 !important;
    background: #e6ecf0 !important;
    border: 1px solid #494646 !important;
    line-height: 2.7rem !important;
}

.owl-prev {
    left: -1.4rem;
    display: flex;
    background-color: transparent;
    border: 0;
}

.owl-next {
    right: -1.4rem;
    display: flex;
    background-color: transparent;
    border: 0;
}


/*.navbar-top .navbar-text {*/
/*display: block;*/
/*text-align: right;*/
/*width: 100%;*/
/*}*/

.navbar-top .navbar-text > ul {
    padding: 0;
}

.content_layout {
    box-shadow: 0 0 8px 0px #e1e1e1;
    background-color: #fefefe;
    /* margin: 2rem 0; */
    /* border-radius: 1.75rem; */
    padding: 2rem;
    /*border-top: 3px solid #006791;*/
}

.map {
    width: 100%;
    height: 30rem;
    background-color: #ebebeb;
}

#ContactgoogleMap {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.h1-layout {
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
    color: #0e6e95;
    background-color: #ffc905;
    /* box-shadow: 0px 0px 12px #d8d5d5; */
    padding: 3rem;
    width: 100%;
    height: 11rem;
    text-align: center;
    /* border-radius: 1rem; */
    line-height: 4rem;
}

.form-contact {
    padding: 2rem 0;
}

.form-contact .form-control {
    padding: .8rem;
    height: auto;
    font-size: .9rem;
    border-radius: .5rem;
}

.parent-list-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    text-align: right;
}

.parent-list-contact ul li {
    border: 0;
}

.parent-list-contact ul li a {
    color: #000;
}

.title-about {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
}

.p-about {
    font-size: 1rem;
    text-align: justify;
    line-height: 2.6rem;
}

.parent-tariffs > div {
    text-align: right;
    /* border: 1px solid #999; */
    /* margin: 1rem; */
    padding: 1rem;
}

.parent-tariffs .card {
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
}

.parent-tariffs h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.parent-tariffs ul {
    padding: 0;
}

.parent-tariffs .btn-primary {
    color: #00668f;
    background-color: #ffc905;
    border-color: #ffc905;
    font-weight: bold;
}

.parent-tariffs ul li {
    border: 0;
}

.parent-tariffs ul li a {
    color: #000;
}

@media (min-width: 992px) {
    .navbar-top .navbar-nav .nav-link {
        padding-right: .9rem;
        padding-left: .9rem;
    }
}

.navbar-top .navbar-nav .nav-link:focus,
.navbar-top .navbar-nav .nav-link:hover {
    color: #ffca05;
}

.h4-rules {
    width: 100%;
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
}

.p-rules {
    font-size: 1rem;
    text-align: right;
    line-height: 2.6rem;
    width: 100%;
}

.collapse_questions .accordion .btn-link i {
    width: 2rem;
    height: 2rem;
    background-color: #006791;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    color: #ffc905;
}

.collapse_questions .accordion [data-toggle=collapse] .fa:after {
    content: "\F068";
}

.collapse_questions .accordion [data-toggle=collapse].collapsed .fa:after {
    content: "\F067";
}

.collapse_questions .accordion .btn-link {
    font-weight: 400;
    color: #000;
    background-color: transparent;
    position: relative;
    width: 100%;
    text-align: right;
    padding: .65rem;
    text-decoration: none;
    white-space: normal;
}

.collapse_questions .accordion .card-body {
    text-align: justify;
    padding: 1.3rem 1.7rem;
    line-height: 2rem;
    border: 2px solid #006791;
    background-color: #f6f6f6;
    border-radius: 1rem;
    font-size: .9rem;
}

.collapse_questions .accordion .card {
    background-color: transparent;
    border: 0 !important;
}

.collapse_questions .accordion .card-header {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.btn-tamas-plugin {
    margin: 2rem auto !important;
    background-color: #ffc905;
    border: transparent;
    min-width: 11rem;
    padding: .8rem;
    color: #006791;
    font-weight: bold;
}

.btn-tamas-plugin:hover,
.btn-tamas-plugin:focus {
    background-color: #006791;
    border: transparent;
    color: #ffc905;
}

.parent_post_blog {
    background: #fff;
    padding: 1rem;
}

.parent_post_blog .card {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .03);
    border-radius: .25rem;
    padding: 15px 20px;
    /*max-width: 45rem;*/
    margin: .6rem auto;
    text-align: right;
}

.header_post_blog .list-inline-item:not(:last-child) {
    margin-right: 0 !important;
}

.header_post_blog .list-inline-item {
    font-size: .8rem;
}

.header_post_blog > ul > li > ul {
    display: flex;
}

.header_post_blog .avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: .2rem;
}

.header_post_blog .list-group-item {
    padding: .2rem;
    border: 0;
    text-align: right;
    font-size: .8rem;
}

.header_post_blog .category > a, .header_post_blog .parent_author .author {
    color: #006791;
    font-weight: 700;
}

.header_post_blog .list-group-item .read, .header_post_blog .list-group-item .time {
    color: #999;
}

.header_post_blog .category {
    float: left;
    margin-top: .2rem;
}

.header_post_blog .category > a, .header_post_blog .parent_author .author {
    color: #006791;
    font-weight: 700;
}

.content_post_blog .title_blog_post {
    line-height: 1.9rem;
}

.content_post_blog .title_blog_post {
    margin: .15rem 0 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    text-align: right;
    width: 100%;
}

.img_post_blog {
    height: 200px;
    margin: 0 0 15px;
    overflow: hidden;
}

.img_post_blog img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.post_blog_description {
    color: #858585;
    line-height: 1.8;
    font-size: .9em;
}

.footer_post_blog {
    margin: .5rem 0 0;
}

.footer_post_blog > ul {
    margin: 0;
}

.footer_post_blog ul > .list-inline-item {
    color: #858585;
    line-height: 1.8;
    font-size: 1.1em;
}

.footer_post_blog ul > .list-inline-item:nth-child(2) {
    float: left;
}

.parent-blog .left {
    height: 28rem;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.parent-image-blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 14rem;
    max-height: 15.5rem;
    max-width: 100%;
    min-width: 10rem;
    background-color: #e6ecf0;
}

.parent-image-blog img {
    width: 100%;
    height: 100%;
}

.parent-image-blog a {
    width: 100%;
    height: 100%;
    display: block;
}

.parent-blog .right .card {

}

.parent-blog .right .card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.parent-blog .right .card .card-title a {
    color: #000000;
}

.parent-blog .right .card .card-text {
    text-align: justify;
    line-height: 2rem;
    font-size: .95rem;
    margin: 0 0 .6rem 0;
}

.parent-blog .card-footer .item {
    padding: 0 .7rem;
}

.parent-blog .card-footer .list-inline {
    margin-bottom: 0;
}

.parent-blog .card-footer .item:nth-child(1) ul li:nth-child(1) {
    float: left;
}

.parent-blog .card-footer .item:nth-child(1) ul li:nth-child(2) {
    float: right;
}

.parent-blog .card-footer .item:nth-child(2) ul li:nth-child(1) {
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
}

.list-sosial-blog li {
    margin: 0 !important;
    padding: .4rem;
}

.list-sosial-blog li a {
    /*margin: .4rem;*/
    background-color: #999;
    width: 100%;
    display: block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: .8rem;
    text-align: right;
    padding-right: .4rem;
    color: #fff;
}

.list-sosial-blog li a i {
    float: left;
    /* z-index: 2; */
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    /* margin-right: 10px; */
    background-color: rgba(0, 0, 0, .15);
}

.parent-blog .right .card {
    margin: .75rem 0;
}

.list-sosial-blog li .facebook {
    background-color: #3b5998;
    display: block;
}

.list-sosial-blog li .twitter {
    background-color: #1da1f2;
}

.list-sosial-blog li .linkedin {
    background-color: #0077b5;
}

.list-sosial-blog li .whatsapp {
    background-color: #25d366;
}

.list-sosial-blog li .telegram {
    background-color: #169cdf;
}

.list-sosial-blog li .gplus {
    background-color: #de0f17;
}

.parent-blog-single .left {
    height: 28rem;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.parent-image-blog-single {
    max-height: 36rem;
    text-align: right;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1rem;
}


.parent-image-blog-single img {
    max-height: 36rem;
    text-align: right;
    max-width: 100%;
    width: 100%;
}

.parent-blog-single {
    text-align: right;
}

.parent-blog-single .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .4rem 0;
    /* margin-top: 5rem; */
    display: block;
}

.parent-blog-single .card-text {
    text-align: justify;
    line-height: 2rem;
    font-size: .95rem;
    margin: 0 0 .6rem 0;
}

.parent-blog-single .card-footer {
    text-align: left;
}

.parent-blog-single .card-footer .item {
    padding: 0 .7rem;
}

.parent-blog-single .card-footer .list-inline {
    margin-bottom: 0;
}

.parent-blog-single .card-footer .item:nth-child(1) {
    text-align: right;
}

.parent-blog-single .card-footer .item:nth-child(1) ul li:nth-child(1) {
    margin-left: 1.5rem;
    display: inline-flex;
    align-items: center;
}

.parent-blog-single .card-footer .item:nth-child(1) ul li:nth-child(1) i {
    margin-left: .3rem;
}

.parent-blog-single .card-footer .item:nth-child(1) ul li:nth-child(2) i {
    margin-left: .3rem;
}

.parent-blog-single .card-footer .item:nth-child(2) ul li:nth-child(1) {
    margin-left: 2rem;
    display: inline-flex;
    align-items: center;
}

.parent-blog-single .card-footer .item:nth-child(2) ul li:nth-child(1) i {
    margin-left: .3rem;
}

.list_comment .title {
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.bg-yellow {
    background-color: #ffc905;
}

.parent_comment_body_user {
    margin: .5rem 0 !important;
}

.parent_comment_user_date > li:first-child {
    max-width: 4rem;
}

.parent_comment_user_date li {
    padding: .17rem;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    text-align: right;
}

.parent_comment_body_user .user_comment_all, .parent_comment_body_user .user_comment_all img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.parent_comment_user_date li {
    padding: .17rem;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    text-align: right;
}

.parent_comment_body_user .body_comment_all {
    margin: 0 !important;
    text-align: right !important;
    line-height: 1.7rem;
}

.comment_post_repl_input {
    display: none;
}

.pr-8 {
    padding-right: 6.5rem !important;
}

.parent_comment_body_user > li {
    background-color: #f9f6f6;
    margin: .15rem 0 !important;
    border-radius: 1rem;
    padding: 0 !important;
    width: 100%;
}

.parent_comment_body_user > .comment_reply {
    margin-right: 2rem !important;
}

.count_comment_all {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.form_register_comment .form-control {
    padding: .75rem;
    height: auto;
    font-size: .85rem;
}

.comment_post_repl_input .form_register_comment {
    padding: .7rem;
}

.parent_comment_reply {
    padding: .9rem;
}

.parent_comment_reply .reply_comment_all_btn {
    /*padding: .9rem;*/
}

.post_blog_tags {
    text-align: right;
    margin: .7rem 0;
}

.post_blog_tags ul li {
    display: inline-block;
    font-size: .9rem;
    margin-left: .5rem;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.post_blog_tags ul li > a {
    display: block;
    border: none;
    color: rgba(0, 0, 0, .68) !important;
    background: rgba(0, 0, 0, .05);
    padding: 6px 15px;
    border-radius: 4px;
}

.parent-blog-single .right {
    padding-left: 1rem;
}

.blog-related .card-body {
    padding: .45rem;
}

.parent-box-comment .item {
    padding: 1rem;
    min-height: 10.5rem;
}

.parent-box-comment .item a {
    min-height: 10.5rem;
}

.parent-box-comment .item a i {
    margin: 1.5rem;
    font-size: 2.5rem;
}

.parent-box-comment h3 {
    font-size: 1.25rem;
}

.latest-blog .content-box .item img {
    height: 14rem;
    background-color: #f1f1f1;
    width: 100%;
}


.helpPanel .card-body {
    padding: 0 1.25rem;
}

.helpPanel .card-body .p-help-panel {
    margin: 1rem 0;
}

.content-panel-style .card-header {
    margin-bottom: 0 !important;
}

.content-panel-style .card-body {
    padding: 0 1.25rem;
}


.navbar-top .navbar-text li a:hover,
.navbar-top .navbar-text li a:focus {
    color: #ffca05;
}

.navbar-top .navbar-text li:nth-child(1) a:hover span:first-child:before,
.navbar-top .navbar-text li:nth-child(1) a:focus span:first-child:before {
    background: url(/images/style_yarpay.png) -41px -354px;
}

.navbar-top .navbar-text li:nth-child(2) a:hover span:first-child:before,
.navbar-top .navbar-text li:nth-child(2) a:focus span:first-child:before {
    background: url(/images/style_yarpay.png) -100px -355px;
}

@media (min-width: 1200px) {
    .dropdown:hover .nav-link {
        color: #ffca05;
    }
}

.navbar-top .dropdown-item {
    padding: .6rem 1.3rem;
    border-bottom: 1px solid #999;
}

.navbar-top .dropdown-item:last-child {
    border-bottom: 0;
}

.navbar-top .dropdown-item:focus, .navbar-top .dropdown-item:hover {
    color: #ffc905;
    text-decoration: none;
    background-color: #006791;
}

.footer .list-group li a:hover {
    color: #ffc905;
}

.my-error-class {
    color: #FF0000;
    border-color: #ff1c00 !important;
}

.my-valid-class {
    color: #00CC00;
    border-color: #00CC00 !important;
}

label.my-error-class {
    margin: .2rem 0;
}

.logo-img {
    width: auto;
    margin: 0;
}

.logo-img img {
    max-height: 50px;
    width: auto;
}
